.mainButton{
  background-color: #ff8000;
  color: #fff;
  border: none;
  outline: none;
}

.mainText{
  color: #ff8000;;
}

.bgDarkSecondary{
  background-color:#33393f
}

input:focus{
  border: 1px #ff8000;
}